<h3 class="text-center">
  <span class="text-muted" style="color: #dc3545">Información Cuenta</span><hr/>
</h3>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <div class="input_container">
          <div class="input_div">
            <label class="form-label">Account Number</label>
            <input formControlName="accountNumber" type="text" placeholder="Account Number" class="form-control" />
          </div>

          <div class="input_div">
            <label class="form-label">Account Type</label>
            <select formControlName="accountType" class="form-control">
              <option [disabled]="true" [value]="0">- Selecciona una opción -</option>
              <option *ngFor="let accountType of accountType" [value]="accountType.key">{{accountType.key}} - {{accountType.value}}</option>
            </select>
          </div>

          <div class="input_div">
            <label class="form-label">Status</label>
            <select formControlName="status" class="form-control">
              <option [disabled]="true" [value]="0">- Selecciona una opción -</option>
              <option *ngFor="let accountStatus of accountStatus" [value]="accountStatus.key">{{accountStatus.key}} - {{accountStatus.value}}</option>
            </select>
          </div>

          <div class="input_div">
            <label class="form-label">Balance</label>
            <input formControlName="balance" type="number" placeholder="Balance" class="form-control"/>
          </div>

          <div class="input_div">
            <label class="form-label">User Id</label>
            <input formControlName="userId" type="number" placeholder="User Id" class="form-control"/>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-danger regular-button mt-3" type="submit">Aceptar</button>
  </form>
</div>
